.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center p{
  margin-right: .2em;
}
.formBox{
  width: 563px;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  background: lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.form div{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
}
.form a{
  color: blue;
}
.form a:hover{
  color: gray;
}
.right{
  display: flex;
  justify-content: space-between;
}
.right div{
  width: auto;
}

.contentText{
  display: flex;
  margin-right: auto;
  margin-left: 6.5em;
  font-size: .8em;
}
.contentText h1{
  margin-bottom: .5em;
}
fieldset {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 15px;
  color: gray;
}
fieldset:focus-within {
  border-color: black;
}
fieldset:focus-within > legend {
  color: black;
}

input:active{
  background: none;
}

input[type=text], input[type=password], input[type=email], input[type=submit]{
  font-size: 1.2em;
  padding: 3px;
  outline: none;
  border: none;
  width: 100%;
  background: none;
}

input[type=submit]{
  background: #005aaa;
  height: 60px;
  border-radius: 8px;
  color: white;
}

.warning{
  margin-top: 1em;
  color: red;
}
.success{
  margin-top: 1em;
  color: green;
}
