*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#container{
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto 180px;
  grid-template-areas: "hd"
                      "body"
                      "ftr";
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: none;
  color: black;
}
.warning{
  margin-top: 1em;
  color: red;
}
/*Header styling*/
header{
  grid-area: hd;
}
header:after {
  content: "";
  height: 4px;
  background: linear-gradient(to right, white 2%, lightgray 15%, lightgray 85%, white 98%);
  display: block;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
}
.content img{
  width: 100%;
  height: 100%;
}
.logo{
  padding: 5px;
  width: 140px;
  height: 120px;
}
.pages{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8em;
  margin-top: 2em;
  font-size: .9em;
}
.userInfo{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 2em;
}
.userInfo h2{
  font-weight: normal;
  color: blue;
}
.userInfo p{
  padding: 2px;
  color: gray;
}
.userImage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-right: 2em;
}
/* end of header styling */

/* body styling */
main{
  grid-area: body;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Schedule start */
.schedule{
  margin-top: 40px;
  max-width: 100%;
  max-height: 100%;
  grid-template-rows: 100px,auto;
}
.week{
  text-align: center;
  grid-row: 1;
}

.move{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 10px;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 80px;
  max-width: 90%;
}

.days{
  margin-top: 20px;
  grid-row: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 12%,12%,12%,12%,12%,12%,12%;
}

.day{
  width: 183px;
  max-height: 500px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gray;
  background-color: lightgrey;
}

.monday{
  grid-column: 1/2;

}
.tuesday{
  grid-column: 2/3;

}
.wednesday{
  grid-column: 3/4;

}
.thursday{
  grid-column: 4/5;

}
.friday{
  grid-column: 5/6;

}
.saturday{
  grid-column: 6/7;

}
.sunday{
  grid-column: 7/8;

}
/* Schedule end */

/* Index start */
button {
  border: none;
}
.searchBox {
  margin: 5em;
  height: 5em;
  width: 35em;
  background-color: #EEEEEE;
  border-radius: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.boxItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type=time], input[type=date] {
  border-radius: 10px;
  border: none;
  background: #efefef;
}
.roundButton {
  height: 4em;
  width: 4em;
  border-radius: 3em;
  background-color: #005aaa;
  transition-duration: 0.4s;
}
.roundButton:hover {
  cursor: pointer;
  background-color: #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.roundButton img {
  height: 2em;
  width: 2em;
  filter: invert(1);
  transition-duration: 0.4s;
}
.roundButton:hover img {
  filter: invert(0);
}
.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainItem {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mainItemContent {
  margin: 0 2.5em;
}
.mainItemImage {
  height: 16em;
  width: auto;
}
.mainItemText {
  width: 25em;
}
.smallSquareButton {
  height: 2em;
  width: auto;
  padding: 0 .5em;
  border-radius: 8px;
  color: white;
  background-color: #005aaa;
  transition-duration: 0.4s;
}
.smallSquareButton:hover {
  cursor: pointer;
  background-color: #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: black;
}

/* Index end */

/* Schedule upload start */
.upload {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.uploadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.uploadBox form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#downloadButton {
  margin-bottom: 0.5em;
}
.fileUploadButton {
  border: 1px solid #ccc;
  display: flex;
  padding: .5em 1em;
  cursor: pointer;
  margin-right: .5em;
  transition: all 0.4s ease 2s;
}
.fileUploadButton:hover {
  background-color: #ccc;
  padding-left: 16em;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
#fileUpload {
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  transition: all 0.4s ease 2s;
  height: 0px;
  width: 0px;
}
.fileUploadButton:hover #fileUpload {
  cursor: pointer;
  background-color: transparent;
  visibility: visible;
  opacity: 100%;
  transform: translate(-100%, 0);
  height: 22px;
  width: 250px;
  transition: all 0.4s ease;
}

/* Schedule upload end */

/* Reservation start */
.mapAndForm {
  display: flex;
  justify-content: center;
}
.reserveMap {
  width: 1000px;
  height: 500px;
  margin-right: 40px;
  margin-top: 20px;
}
.formReserve {
  background-color: #EEEEEE;
  border-radius: 8px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.formReserve p {
  margin-bottom: 7px;
}
.reserveButton{
  background: #005aaa;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  margin-top: 15px;
}
.reserveCheckbox {
  width: 15px;
  height: 15px;
}
.reservePicture {
  width: 170px;
  height: 200px;
  margin-left: 100px;
  margin-top: 80px;
}
.reserveText {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.reserveParagraphHeader {
  font-size: 40px;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.reserveText p {
  margin-left: 30px;
  width: 450px;
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 10px;
}
.occupancy{
  border: none;
  background: #E7E7E7;
  font-size: 1em;
  padding: .5em;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 5em;
}
.occupancy input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  padding: .8em;
  box-shadow:0 0 2px gray;
  opacity: 1;
}
input[type=number]:focus{
  outline:none;
}
.items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
}
.items input[type=number]{
  margin-left: auto;
}
.submit{
  margin-top: 1em;
}
/* Reservation end */

/* Room start */
.room-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-room {
  position: relative;
}
.bg-room {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}
.room-params {
  width: 382px;
  height: 336px;
  border-radius: 5px;
}
.room-params .tabs-btns {
  width: 100%;
  display: flex;
}
.room-params .tab-btn {
  width: 50%;
  height: 30px;
  background: #b8b8b8;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: black;
  cursor: pointer;
}
.room-params .tab-btn:hover,
.room-params .tab-btn.active {
  background: #8a8a8a;
  color: rgb(255, 255, 255);
}
.room-params .tabs {
  width: 382px;
  background: #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.room-params .tabs .tab {
  width: 90%;
  padding: 18px;
  user-select: none;
}
.room-params .tabs .tab span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #4A5568;
}

#room_1,
#room_2,
#room_3,
#room_4,
#room_5,
#room_6,
#room_7 {

}
.roomSelect {
  fill: #89FF87;

}
.roomNoSelect {
  fill: #FF7676;
  cursor: not-allowed;
}
.roomActive {
  fill: #FFFFFF;
}
/* Room end */

/* Login start */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center p{
  margin-right: .2em;
}
.formBox{
  width: 563px;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  background: lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.form div{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
}
.form a{
  color: blue;
}
.form a:hover{
  color: gray;
}
.right{
  display: flex;
  justify-content: space-between;
}
.right div{
  width: auto;
}
.contentText{
  display: flex;
  margin-right: auto;
  margin-left: 6.5em;
  font-size: .8em;
}
.contentText h1{
  margin-bottom: .5em;
}
fieldset {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 15px;
  color: gray;
}
fieldset:focus-within {
  border-color: black;
}
fieldset:focus-within > legend {
  color: black;
}
input:active{
  background: none;
}
input[type=text], input[type=password], input[type=email], input[type=submit]{
  font-size: 1.2em;
  padding: 3px;
  outline: none;
  border: none;
  width: 100%;
  background: none;
}
input[type=submit]{
  background: #005aaa;
  height: 60px;
  border-radius: 8px;
  color: white;
}
.success{
  margin-top: 1em;
  color: green;
}
/* Login end */

/* Profile page start */
.profileGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.profileColumn1 {
  grid-column: 1;
}
.profileColumn1 img {
  width: 300px;
  height: 1000px;
  margin-top: 50px;
}
.profileColumn3 img {
  width: 300px;
  height: 1000px;
  margin-top: 50px;
}
.profileColumn2 {
  grid-column: 2;
  margin-left: 250px;
}
.profileColumn3 {
  grid-column: -1;
}
.profileCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
}
.profileCenter img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: 30px;
}
.profileButton {
  margin-top: 13px;
  background: #005aaa;
  height: 2em;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  border: none;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileButton a{
  color: white;
}
.passwordButton{
  background: #005aaa;
  color: white;
  height: 3em;
  border-radius: 8px;
  padding: 1em;
}
.buttonCenter {
  display: flex;
  justify-content: center;
}
.profileInfo {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 15px;
  color: gray;
  width: 300px;
  height: 30px;
}
.changePass {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 15px;
  height: 2em;
  width: 300px;
  color: gray;
  margin-bottom: 10px;
}
.changePass:focus-within {
  border-color: black;
}
.changePass:focus-within > legend {
  color: black;
}
.profileCenter input[name=oldPassword], input[name=newPassword] {
  font-size: 1.2em;
  padding: 3px;
  outline: none;
  border: none;
  width: 100%;
  background: none;
  padding-top: 0px;
}
.profileCenter input[name=oldPassword], input[name=newPassword]:active{
  background: none;
}
.profileText {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.bookingButtonContainer {
  display: flex;
  
  align-items: center;
  flex-direction: column;
}
/* Profile page end */
/* Tablet bookings page start */
.bookings{
  font-size: 1.5em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookings .header{
  height: 1.5em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1em;
}
.bookings .content{
  height: 1.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.back a{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  color: #005aaa;
}
/* Tablet bookings page end */
/* Thank you page start */
.thankYouCenter {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.thankYou {
  font-size: 60px;
}

.returnToLogin {
  font-size: 25px;
  margin-top: 20px;
}

.thankYouImg {
  height: 250px;
  width: 1520px;
  margin-top: 150px;
}
/* Thank you page end */

/* end of body styling */

/* footer styling */
footer{
  grid-area: ftr;
}
footer .content{
  height: 80%;
  background: #005aaa;
}
.logoFooter{
  height: 80%;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
}
.footerBottom{
  height: 20%;
  width: auto;
  background: #00498a;
}
.footerLocation{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.footerContact{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 3em;
  color: white;
}
.footerContact a{
  color: white;
}

/* End of footer styling */
