@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Inter:wght@300;400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.container {
    width: 1043px;
    margin: 0 auto;
}

.date-search {
    width: 100%;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-block .text {
    font-family: 'Inter';
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.info-block .text * {
    pointer-events: none;
}

.info-block .text span {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.info-block .text p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #838383;
}

.select_date {
    position: relative;
    width: 375px;
    height: 38px;
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 29px 15px 16px;
    z-index: 99;
}

.select_date .select {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.select_date span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}

.select_date span.data {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #A0A0A0;
}

.select_date .search {
    width: 44px;
    height: 44px;
    background: #009BAA;
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}

.select_date .search:hover {
    background: #02ccdf;
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal#calander {
    position: absolute;
    bottom: -356px;
    left: 32px;
    height: 274px;
    width: 264px;
    background: #EEEEEE;
    border-radius: 10px;
    padding: 18px 44.5px 24px 44.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    user-select: none;
}

.selected {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected a {
    font-size: 28px;
    color: #005AAA;
    text-decoration: none;
    margin: 3px;
}

.selected span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
}

.number_day {
    width: 272px;
    min-height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.number_day span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7A7585;
    cursor: pointer;
    margin: 0 3px;
}

.number_day span:hover {
    background: #009BAA;
    border: 2px solid #07B7C8;
    box-sizing: border-box;
    border-radius: 50px;
    color: #FFFFFF;
}

.number_day span.active {
    background: #006DAA;
    border: 2px solid #069AEE;
    box-sizing: border-box;
    border-radius: 50px;
    color: #FFFFFF;
}

.number_day span.active:hover {
    background: #009BAA;
    border: 2px solid #07B7C8;
    box-sizing: border-box;
    border-radius: 50px;
    color: #FFFFFF;
}

.number_day span.noActive {
    color: #D7D7D7;
    cursor: default;
}

.number_day span.noActive:hover {
    background: none;
    border: none;
    box-sizing: none;
    border-radius: none;
    color: #D7D7D7;
}

.modal#time {
    position: absolute;
    bottom: -356px;
    left: 32px;
    height: 274px;
    width: 264px;
    background: #EEEEEE;
    border-radius: 10px;
    padding: 18px 44.5px 24px 44.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.modal#time .separator {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #D8D8D8;
}

.modal#time div {
    width: 40px;
    height: 99px;
    margin: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.modal#time div #up {
    width: 24px;
    height: 14px;
    background: url(img/up.svg);
    display: block;
    background-position: center;
}

.modal#time div #down {
    width: 24px;
    height: 14px;
    background: url(img/down.svg);
    display: block;
    background-position: center;
}

.modal#time div .text {
    width: 46px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal#time div .text span.data {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #252525;
}

.modal#time div .text span {
    font-size: 14px;
    color: #D8D8D8;
}